body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.tile-grid {
  display: grid;
  grid-template-columns: repeat(4, 3.5rem);
  grid-template-rows: repeat(4, 3.5);
  gap: 0.5rem;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.empty-tile {
  background-color: darkgrey;
}

@media screen and (min-width: 640px) {
  .tile-grid {
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(4, 5rem);
  }

  .tile {
    font-size: 2rem;
  }
}
